application.recommendations-db.username=username
application.recommendations-db.password=password
application.recommendations-db.url=jdbc:postgresql://localhost:5555/db
application.recommendations-db.read-only=false
application.recommendations-db.driver-class-name=org.postgresql.Driver